<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>portal</display-name>

	 <context-param>
	
		 <param-name>contextConfigLocation</param-name>
		
		 <param-value>classpath:beans.xml</param-value> 
		
	 </context-param>  
  
	  <!-- 配置Spring监听器 -->
	  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener> 
	
	  
	  <!-- 编码过滤器 -->
	  <filter>
	  	<filter-name>charsetEncodingFilter</filter-name>
	  	<filter-class>top.yigege.filter.CharsetEncodingFilter</filter-class>
	  	<init-param>
	  		<param-name>CharsetEncoding</param-name>
	  		<param-value>UTF-8</param-value>
	  	</init-param>
	  </filter>
	  
	  <!-- 用户登入过滤器 -->
 	  <filter>
	  	<filter-name>loginFilter</filter-name>
	  	<filter-class>top.yigege.filter.LoginFilter</filter-class>
	  </filter> 
	  
	  <!-- 配置openSessionInViewFilter过滤器 -->
	  <filter>
	    <filter-name>openSessionInViewFilter</filter-name>
	    <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	  </filter>
	  
	    <!-- 配置struts2框架核心过滤器 -->
	  <filter>  
	        <filter-name>struts2</filter-name>  
	        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>  
	  </filter> 
	   
	   <filter-mapping>
	    <filter-name>loginFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
	  
 	  <filter-mapping>
	  	<filter-name>charsetEncodingFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	  </filter-mapping> 
	  
	  <filter-mapping>
	    <filter-name>openSessionInViewFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
	   
	  <filter-mapping>
	    <filter-name>struts2</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
	

		<!-- 404页面 -->
	    <error-page>
	
	    <error-code>404</error-code>
	
	    <location>/page/common/errorPage/404.jsp</location>
	
	    </error-page>
	
	    <error-page>
			<exception-type>java.lang.Throwable</exception-type>
			<location>/page/common/errorPage/500.jsp</location>
		</error-page>
		<error-page>
			<error-code>500</error-code>
			<location>/page/common/errorPage/500.jsp</location>
		</error-page>


</web-app>